.red-ball {
    animation: orbit-red 6s linear infinite;
}

.blue-ball {
    animation: orbit-blue 8s linear infinite;
}

.green-ball {
    animation: orbit-green 5s linear infinite;
}

@keyframes orbit-red {
    0% {
        transform: translateX(0px) rotateY(0deg) translateZ(30px) rotateY(360deg);
    }
    100% {
        transform: translateX(0px) rotateY(360deg) translateZ(30px) rotateY(0deg);
    }
}

@keyframes orbit-blue {
    0% {
        transform: rotateX(-20deg) translateX(0px) rotateY(0deg) translateZ(45px) rotateY(-360deg) rotateX(20deg);
    }
    100% {
        transform: rotateX(-20deg) translateX(0px) rotateY(-360deg) translateZ(45px) rotateY(0deg) rotateX(20deg);
    }
}

@keyframes orbit-green {
    0% {
        transform: rotateX(15deg) translateX(0px) rotateY(0deg) translateZ(40px) rotateY(360deg) rotateX(-15deg);
    }
    100% {
        transform: rotateX(15deg) translateX(0px) rotateY(360deg) translateZ(40px) rotateY(0deg) rotateX(-15deg);
    }
}