.image-hidden {
    clip-path: inset(0 0 100% 0);
}

.image-reveal {
    clip-path: inset(0 0 100% 0);
    animation: reveal 1s forwards cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes reveal {
    to {
        clip-path: inset(0 0 0 0);
    }
}